:root {}
body {
  background-color: palegoldenrod;
  font-family: "Source Sans Pro", sans-serif;
}
.hgp {
  position: relative;
  visibility: hidden;
}
.gh-banner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  transform-origin: left top;
  transform: scale(0.8);
}
.proximus {
  position: absolute;
  left: 50%;
  top: 0;
  padding: 2.5em 10em;
  color: #0f0321;
  border: 13px solid #0f0321;
  display: inline-block;
  transform-origin: bottom center;
  transform: translate3d(-40%, 10%, -50px) perspective(300) rotateY(7deg) rotateX(12deg);
  text-shadow: -4px -4px 2.5px rgba(173, 255, 47, 0.47);
}
.grid {
  overflow: visible;
  max-width: 700px;
  margin: 18em auto 0 auto;
}
.gridlet {
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.4);
  padding: 2em;
  color: palegoldenrod;
  background: #0f0321;
}
.gridlet h4 {
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
.gridlet p {
  text-indent: 1em;
  opacity: 0.8;
  white-space: no-wrap;
}