:root {
  --backColor: rgb(252, 258, 240);
  --itemColor: #0f0321;

}
body {
  background-color: #EEE;
  font-family: sans-serif;
}
.hgp {
  position: relative;
  visibility: hidden;
}
.gh-banner {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  transform-origin: left top;
  transform: scale(0.8);
}
.proximus {
  width: 100%;
  background: var(--itemColor);
  color: var(--backColor);
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.4);
}
.proximus pre {
  text-shadow: -2px -2px 5px var(--backColor);
  padding: 2.5em 10em;
  margin: auto;
}

.intro {
  display: block;
  max-width: 1200px;
  font-size: 14pt;
  color: var(--itemColor);
  max-width: 1200px;
  width: 100%;
  margin: 2em auto 1em auto;
}

.grid {
  overflow: visible;
  max-width: 1200px;
  width: 100%;
  margin: 1em auto 0 auto;
}

.gridlet {
  perspective-origin: 100px;
  transform: perspective(250px) translateZ(-500000px);
  box-sizing: border-box;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.4);
  padding: 2em;
  color: var(--backColor);
  background: var(--itemColor);
}
.gridlet h4 {
  font-size: 1.2rem;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.gridlet p {
  text-indent: 1em;
  opacity: 0.9;
  white-space: normal;
}